<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>재테크</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
        .wrap {
            position: relative;
            width: 250px;
            padding: 10px;
        }
        .info {
            padding: 10px;
            background-color: white;
            border-radius: 5px;
        }
        .title {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .close {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
        }
        .img img {
            display: block;
            width: 100%;
            height: auto;
        }
        .desc {
            font-size: 12px;
            color: #888;
            white-space: normal; 
        }
        .info .close {
            position: absolute;
            top: 10px;
            right: 0px;
            color: #888;
            width: 24px;
            height: 24px;
            background: url('https://i.imgur.com/U8GACQQ.png');
        }

        .info .close:hover {
            cursor: pointer;
        }
        
    </style>
</head>
<body>
    <div style="width: 100%; height: 90px; left: 0px; top: 0px; right: 0px; background: #4A5D4C; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)"></div>
  <!--글씨-->
  <div style="left: 30px; top: 20px; position: absolute; color: #FFF2AE; font-size: 55px; font-family: 'Nanum Gothic', sans-serif; font-weight: 700; word-wrap: break-word">재(再)테크
  </div>
  <div>
    <a href="{% url 'home' %}"><button class="darken-image-button" type="button" style="background: none; border: none; padding: 0; right: 30px; top: 25px; position: absolute; "><img src="https://i.imgur.com/IurDwvt.png" title="재로딩" alt="재로딩" style= "width: 55px; height: 55px; cursor: pointer;" /></button></a>
  </div>
    <div style="width: 1010px; height: 510px; left: 320px; top: 170px; z-index: 0; position: absolute; border: 5px solid #4A5D4C; /* 테두리 스타일 지정 */ border-radius: 10px;"></div>
    <!--z-index: 0; 다른 요소보다 뒤로 보내기-->
    <div id="map" style="width:1000px; height:500px; left: 330px; top: 180px; z-index: 0; position: absolute;">
    <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=b1f7314c2e46a186abb6a8e391b620e3&libraries=services">
    </script>
    </div>

    <div> <!--전체-->
        <div class="background" style="width: 201px; height: 81px; left: 300px; top: 738px; position: absolute; background: #E4CCAA; border-radius: 50px; cursor: pointer;" onclick="handleButtonClick('리사이클링')"></div> <!--뒷 배경-->
        <div class="background" style="width: 201px; height: 81px; left: 300px; top: 730px; position: absolute; background: #F4DAB4; border-radius: 50px; cursor: pointer;" onclick="handleButtonClick('리사이클링')"></div> <!--윗 배경-->
        <div class="text" class="text darken-image-button" style="width: 175px; height: 55px; left: 313px; top: 760px; position: absolute; text-align: center; color: black; font-size: 22px; font-family: 'Nanum Gothic', sans-serif; font-weight: 500; word-wrap: break-word; cursor: pointer;" onclick="handleButtonClick('리사이클링')">리사이클링</div> <!--글씨-->
      </div>

      <div>
        <div style="width: 201px; height: 81px; left: 580px; top: 738px; position: absolute; background: #E3DABE; border-radius: 50px; cursor: pointer;" onclick="handleButtonClick('제로웨이스트')"></div>
        <div style="width: 201px; height: 81px; left: 580px; top: 730px; position: absolute; background: #F2E9CC; border-radius: 50px; cursor: pointer;" onclick="handleButtonClick('제로웨이스트')"></div>
        <div style="width: 175px; height: 55px; left: 593px; top: 760px; position: absolute; text-align: center; color: black; font-size: 22px; font-family: 'Nanum Gothic', sans-serif; font-weight: 500; word-wrap: break-word; cursor: pointer;" onclick="handleButtonClick('제로웨이스트')">제로웨이스트</div>
      </div>

      <div>
        <div style="width: 201px; height: 81px; left: 860px; top: 738px; position: absolute; background: #AEB794; border-radius: 50px; cursor: pointer;" onclick="handleButtonClick('네프론')"></div>
        <div style="width: 201px; height: 81px; left: 860px; top: 730px; position: absolute; background: #BEC8A3; border-radius: 50px; cursor: pointer;" onclick="handleButtonClick('네프론')"></div>
        <div style="width: 175px; height: 55px; left: 873px; top: 760px; position: absolute; text-align: center; color: black; font-size: 22px; font-family: 'Nanum Gothic', sans-serif; font-weight: 500; word-wrap: break-word; cursor: pointer;" onclick="handleButtonClick('네프론')">네프론</div>
      </div>

      <div>
        <div style="width: 201px; height: 81px; left: 1140px; top: 738px; position: absolute; background: #8C9D70; border-radius: 50px; cursor: pointer;" onclick="handleButtonClick('재활용센터')"></div>
        <div style="width: 201px; height: 81px; left: 1140px; top: 730px; position: absolute; background: #9AAC7B; border-radius: 50px; cursor: pointer;" onclick="handleButtonClick('재활용센터')"></div>
        <div style="width: 175px; height: 55px; left: 1153px; top: 760px; position: absolute; text-align: center; color: black; font-size: 22px; font-family: 'Nanum Gothic', sans-serif; font-weight: 500; word-wrap: break-word; cursor: pointer;" onclick="handleButtonClick('재활용센터')">재활용센터</div>
      </div>

    <script>


var imageSrc = 'https://i.imgur.com/0lVyPVQ.png', // 마커이미지의 주소입니다
    imageSize = new kakao.maps.Size(32, 50), // 마커이미지의 크기입니다
    imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption);



const getCurrentCoordinate = async () => {
  console.log("getCurrentCoordinate 함수 실행!!!");
  return new Promise((res, rej) => {
    // HTML5의 geolocaiton으로 사용할 수 있는지 확인합니다.
    if (navigator.geolocation) {
      // GeoLocation을 이용해서 접속 위치를 얻어옵니다.
      navigator.geolocation.getCurrentPosition(function (position) {
        console.log(position);
        const lat = position.coords.latitude; // 위도
        const lon = position.coords.longitude; // 경도
        message = '<div style="padding:5px;">현 위치</div>'; // 인포윈도우에 표시될 내용입니다

        const locPosition = new kakao.maps.LatLng(lat, lon);
        res(locPosition);
        menowMarker(locPosition, message);
      }, function (error) {
        // 위치 정보를 허용하지 않을 때 처리하는 부분입니다.
        console.error("Error getting location:", error);
        handleLocationPermissionDenied(); // 위치 정보를 허용하지 않았을 때의 처리 함수 호출
      });
    } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
      var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
          message = 'geolocation을 사용할 수 없어요.'
      menowMarker(locPosition, message);
    }
  });
};

// 위치 정보를 허용하지 않았을 때의 처리 함수
const handleLocationPermissionDenied = () => {
    alert("위치 정보를 허용하지 않았습니다. 위치 정보를 허용해주세요.");
};


// 지도에 마커와 인포윈도우를 표시하는 함수입니다
function menowMarker(locPosition, message) {

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        map: map,
        position: locPosition,
        image: markerImage

    });

    var iwContent = message, // 인포윈도우에 표시할 내용
        iwRemoveable = true;

    // 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({
        content : iwContent,
        removable : iwRemoveable
    });

    // 인포윈도우를 마커위에 표시합니다
    infowindow.open(map, marker);

    // 지도 중심좌표를 접속위치로 변경합니다
    map.setCenter(locPosition);
}






        var mapcontainer = document.getElementById('map');
        var mapoptions = {
           center: new kakao.maps.LatLng(33.450701, 126.570667),
           level: 8
        };
        var map = new kakao.maps.Map(mapcontainer, mapoptions);
 

        var ps = new kakao.maps.services.Places();
        //ps.keywordSearch('제로웨이스트', placesSearchCB);


        searchPlaces();

// 키워드 검색을 요청하는 함수입니다
async function searchPlaces() {
  console.log("searchPlaces 실행!!!");
  var keyword = "제로웨이스트";
  const currentCoordinate = await getCurrentCoordinate();
  console.log(currentCoordinate);
  var options = {
    location: currentCoordinate,
    radius: 20000,
    sort: kakao.maps.services.SortBy.DISTANCE,
  };

  // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
  ps.keywordSearch(keyword, placesSearchCB, options);
}

    
    
        var overlayArray = []; // 커스텀 오버레이 객체를 관리하는 배열


        
    
        function placesSearchCB(data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {
            var bounds = new kakao.maps.LatLngBounds();
            for (var i = 0; i < data.length; i++) {
                displayMarker(data[i],'https://i.imgur.com/GLnHurR.png');
                bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
            }
            map.setBounds(bounds);
        }
    }




    function displayMarker(place, imageUrl) {
        var marker = new kakao.maps.Marker({
            map: map,
            position: new kakao.maps.LatLng(place.y, place.x),
            image: new kakao.maps.MarkerImage(imageUrl, new kakao.maps.Size(32, 50))
            

            
        });

        kakao.maps.event.addListener(marker, 'click', function () {
            closeAllOverlays(); // Close all overlays when another marker is clicked
            var overlayContent = '<div class="wrap">' +
                '<div class="info">' +
                '    <div class="title">' +
                '        ' + place.place_name +
                '        <div class="close" onclick="closeOverlay()" title="Close"></div>' +
                '    </div>' +
                '    <div class="body">' +
                '        <div class="img">' +
                '            <img src="' + 'https://i.imgur.com/9cS6tvO.png' + '"width="73" height="70">' +
                '       </div>' +
                '        <div class="desc">' +
                '            <div class="ellipsis">' + place.road_address_name + '</div>' +
                '            <div class="jibun ellipsis">' + ' (지번) ' + place.address_name + '</div>' +
                '           <div class="phone ellipsis">' + ' (전화번호) ' + place.phone + '</div>' +
                '            <div><a href="' + place.place_url + '" target="_blank" class="link">상세정보 보러가기</a></div>' +
                '        </div>' +
                '    </div>' +
                '    <div class="close" onclick="closeOverlay()" title="Close"></div>' +
                '</div>' +
                '</div>';

            var overlay = new kakao.maps.CustomOverlay({
                content: overlayContent,
                map: map,
                position: marker.getPosition()
            });

            overlayArray.push(overlay); // Add the custom overlay to the array
        });
    }



   
    
        function closeAllOverlays() {
            for (var i = 0; i < overlayArray.length; i++) {
                overlayArray[i].setMap(null); // 모든 오버레이 닫기
            }
            overlayArray = []; // 배열 초기화
        }
    
        function closeOverlay() {
            closeAllOverlays(); // 오버레이 닫기
        }
    
        
        function handleButtonClick(name) {
    if (name === '리사이클링') {
        window.location.href = "{% url 'recycling_market' %}";
    } else if (name === '제로웨이스트') {
        window.location.href = "{% url '0_waste' %}";
    } else if (name === '네프론') {
        window.location.href = "{% url 'nephron' %}";
    } else if (name === '재활용센터') {
        window.location.href = "{% url 'recycling_center' %}";
    }
}

        

 


        
    </script>



<div style="position: fixed; left: 20px; bottom: 18px;">
    <a href="{% url 'mini_game' %}"><button class= "darken-image-button" type="button" style="background: none; border: none; padding: 0;"><img style="width: 140px; height: 120px; cursor: pointer;" title= "미니게임" alt="미니게임" src="https://i.imgur.com/j8qIp8G.png" /></button></a>
</div>
<div style="position: fixed; right: 20px; bottom: 20px;"> 
    <a href="{% url 'chatbot' %}"><button class= "darken-image-button" type="button" id="show" style="background: none; border: none; padding: 0;"><img style="width: 100px; height: 100px; cursor: pointer;" title= "챗봇" alt="챗봇" src="https://i.imgur.com/ce1hnH5.png" /></button></a>
</div>
</body>
</html>
